body {
  font-family: 'Noto Serif', serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
}

ul,
p {
  font-size: 1.125rem;
  line-height: 1.6;
}

h2.section-title {
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.wrapper {
  max-width: 660px;
  margin: 0 auto;
  padding: 3.5rem 25px;
}

.section-dark {
  background-color: rgb(35, 36, 35);
  color: #fff;
}

.section-light-gray {
  background-color: #fafafa;
}

.header--home {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.header--home .wrapper {
  padding-top: 7.1428rem;
  padding-bottom: 7.1428rem;
}

@media (min-width: 768px) {
  .header--home .wrapper {
    padding-top: 15.625rem;
    padding-bottom: 15.625rem;
  }
}

.header--home .section-title {
  font-size: 3.5rem;
  line-height: 1.375;
  margin: 0;
}

.header--home p {
  font-size: 1.5rem;
  line-height: 1.667;
  margin-top: 0;
}

.seconday-description p {
  font-size: 1.125rem;
  line-height: 1.778;
}

.certifications {
  text-align: center;
}

.certifications .wrapper {
  padding-top: 0;
}

.certifications a {
  color: #000;
  text-decoration: none;
}

.certifications a:hover span {
  text-decoration: underline;
}

.certifications .wrapper > div {
  margin-bottom: 40px;
}

.certifications .wrapper > div:last-child {
  margin-bottom: 0;
}

.certifications .badge {
  width: 130px;
  margin-bottom: 15px;
}

.certifications .description span {
  display: block;
}

.certifications .description span:first-child {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.6;
  color: rgb(35, 36, 35, .7);
  text-transform: uppercase;
}

.certifications .description span:nth-child(2) {
  font-size: 1.125rem;
  line-height: 1.6;
}

.competencies {
  text-align: center;
}

.competencies h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  opacity: .7;
  color: #232423;
  margin-bottom: 10px;
  letter-spacing: 0.04em;
}

.competencies p,
.opensource-contribution p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 3rem;
}

.competencies p:last-child {
  margin-bottom: 0;
}

.position,
.opensource-contribution ul {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  margin-top: 5px;
}

.opensource-contribution ul {
  margin-bottom: 3rem;
}

.opensource-contribution ul:last-child {
  margin-bottom: 0;
}

.position li,
.opensource-contribution li,
.certifications .description span:last-child {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.position-slash {
  margin: 0 5px;
}

.company {
  margin-bottom: 2.5rem;
}

.company:last-child {
  margin-bottom: 0;
}

.company h3,
.opensource-contribution h3 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.company p {
  font-size: 1rem;
  line-height: 1.8;
}

.social-media i {
  font-size: 1.75rem;
  padding: 0 10px;
}

.social-media a {
  color: rgb(255 255 255 / 0.8);
  transition: color .2s ease;
}

.social-media a:first-child i {
  padding-left: 0;
}

.social-media a:hover {
  color: #fff;
}

footer {
  background-color: #1e201e;
}

footer .wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 1410px;
  text-align: center;
}

.copyright {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

footer .social-media {
  margin-left: auto;
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header--home .section-title {
    font-size: 4rem;
  }

  .competencies {
    text-align: left;
  }

  .certifications {
    text-align: left;
  }

  .certifications a {
    display: flex;
    align-items: center;
  }

  .certifications .badge {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .certifications .badge--philnits {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  footer .wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: unset;
  }

  footer .social-media {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}


.header--post .wrapper {
  padding: 1rem;
}
