<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}

{% include ga.html %}

<script src="https://kit.fontawesome.com/fd369f449e.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">

<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/touch-icon.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicon.png">
