<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<meta name="thumbnail" content="images/leolandotan.jpg" />
<meta property="og:type" content="website"/>

{% include ga.html %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">

<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/touch-icon.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicon.png">

<script data-ad-client="ca-pub-5203549705849040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
