<div class="social-media">
  <a href="mailto:leolando.tan@gmail.com" aria-label="Email me"><i class="fas fa-envelope"></i></a>
  <a href="https://github.com/leolandotan" target="_blank" aria-label="GitHub profile"><i class="fab fa-github"></i></a>
  <a href="https://www.drupal.org/u/leolandotan" target="_blank" aria-label="Drupal.org profile"><i class="fab fa-drupal"></i></a>
  <a href="https://www.linkedin.com/in/leolandotan" target="_blank" aria-label="LinkedIn profile"><i class="fab fa-linkedin"></i></a>
  <a href="https://drupal.stackexchange.com/users/42772/leolando-tan?tab=profile" target="_blank" aria-label="Stack Exchange: Drupal Answers profile"><i class="fab fa-stack-exchange"></i></a>
</div>
